<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-button (click)="selectCurrentMonth()">Current Month</ion-button>
   <!-- <ion-button (click)="selectLastThreeMonths()">Last 3 Months</ion-button> -->

   <ion-item>
    <ion-label>Choose Month:</ion-label>
    <ion-button fill="clear" (click)="openCalendar()">
      {{ displayedMonth | date: 'MMMM yyyy' }}  <!-- Display the formatted date -->
    </ion-button>
  </ion-item>

   <!-- Conditional Rendering Based on Screen Size -->
   <div *ngIf="isDesktop; else mobileView">
    <!-- Desktop Specific Layout -->
     <!-- Table for Submitted Transactions -->
   <ion-grid *ngIf="submittedTransactions.length > 0; else noTransactionsTemplate">
    <ion-row>
      <ion-col colspan="6">
        <h2>Submitted Transactions</h2>
      </ion-col>
    </ion-row>
    <ion-row class="header-row">
      <ion-col>Date</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Payee</ion-col>
      <ion-col>Description</ion-col>
      <ion-col>Category</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let transaction of submittedTransactions">
      <ion-col>{{ transaction.date.toDate() | date:'mediumDate' }}</ion-col>
      <ion-col>{{ transaction.type }}</ion-col>
      <ion-col>{{ transaction.payee }}</ion-col>
      <ion-col>{{ transaction.description }}</ion-col>
      <ion-col>{{ transaction.category }}</ion-col>
      <ion-col>{{ transaction.amount | currency }}</ion-col>
      <ion-col>
        <ion-button (click)="editTransaction(transaction)" color="secondary">Edit</ion-button>
        <ion-button (click)="deleteTransaction(transaction.id)" color="danger">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Table for Upcoming Recurring Transactions -->
  <ion-grid *ngIf="upcomingRecurringTransactions.length > 0">
    <ion-row>
      <ion-col colspan="7">
        <h2>Upcoming Recurring Transactions</h2>
      </ion-col>
    </ion-row>
    <ion-row class="header-row">
      <ion-col>Next Due Date</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Payee</ion-col>
      <ion-col>Description</ion-col>
      <ion-col>Category</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let transaction of upcomingRecurringTransactions">
      <ion-col>{{ transaction.nextDueDate?.toDate() | date:'mediumDate' }}</ion-col>
      <ion-col>{{ transaction.type }}</ion-col>
      <ion-col>{{ transaction.payee }}</ion-col>
      <ion-col>{{ transaction.description }}</ion-col>
      <ion-col>{{ transaction.category }}</ion-col>
      <ion-col>{{ transaction.amount | currency }}</ion-col>
      <ion-col>
        <ion-button (click)="logTransactionIdAndResubmit(transaction.id)">Submit</ion-button>
        <ion-button (click)="endTransactionRecurrence(transaction.id)" color="danger">End Recurrence</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <ng-template #mobileView>
    <!-- Mobile Specific Layout -->
    <!-- Table for Submitted Transactions -->
   <div *ngIf="submittedTransactions.length > 0; else noTransactionsTemplate">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>Submitted Transactions</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let transaction of submittedTransactions">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ transaction.date.toDate() | date:'mediumDate' }} </ion-card-subtitle>
              <ion-card-title>{{ transaction.category }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Type: {{ transaction.type }}</strong><br>
              Payee: {{ transaction.payee }}<br>
              Description: {{ transaction.description }}<br>
              Amount: {{ transaction.amount | currency }}<br>
              <ion-button  color="secondary" (click)="editTransaction(transaction)">Edit</ion-button>
              <ion-button  color="danger" (click)="deleteTransaction(transaction.id)">Delete</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Table for Upcoming Recurring Transactions -->
  <div *ngIf="upcomingRecurringTransactions.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>Upcoming Recurring Transactions</h2>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let transaction of upcomingRecurringTransactions">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Due: {{ transaction.nextDueDate?.toDate() | date:'mediumDate' }}</ion-card-subtitle>
              <ion-card-title>{{ transaction.category }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <strong>Type: {{ transaction.type }}</strong><br>
              Payee: {{ transaction.payee }}<br>
              Description: {{ transaction.description }}<br>
              Amount: {{ transaction.amount | currency }}<br>
              <ion-button (click)="logTransactionIdAndResubmit(transaction.id)">Submit</ion-button>
              <ion-button (click)="endTransactionRecurrence(transaction.id)" color="danger">End Recurrence</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 </ng-template>

  <ng-template #noTransactionsTemplate>
    <ion-item>
      <ion-label class="ion-text-center">No transactions to display</ion-label>
    </ion-item>
  </ng-template>

  <!-- Button to show form -->
<ion-button expand="block" *ngIf="!showAddForm" (click)="showAddForm = true">Add Transaction</ion-button>

<!-- Transaction form, shown when showAddForm is true -->
<div *ngIf="showAddForm">
  <form #transactionForm="ngForm" (ngSubmit)="addTransaction(transactionForm.value); showAddForm = false;">
    <ion-item>
      <ion-label>Transaction Type</ion-label>
      <ion-select name="type" [(ngModel)]="formValues.type" placeholder="Select One" required>
        <ion-select-option value="income">Income</ion-select-option>
        <ion-select-option value="expense">Expense</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" name="amount" [(ngModel)]="formValues.amount" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime name="date" presentation="date" [(ngModel)]="formValues.date" (ionChange)="updateNextDueDate()" required>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select name="category" [(ngModel)]="formValues.category" placeholder="Select One">
        <ion-select-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description" [(ngModel)]="formValues.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Payee</ion-label>
      <ion-input type="text" name="payee" [(ngModel)]="formValues.payee" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Recurrence</ion-label>
      <ion-select placeholder="Select One" name="recurrence" [(ngModel)]="formValues.recurrence" (ionChange)="updateNextDueDate()">
        <ion-select-option value="none">None</ion-select-option>
        <ion-select-option value="weekly">Weekly</ion-select-option>
        <ion-select-option value="biweekly">Bi-Weekly</ion-select-option>
        <ion-select-option value="monthly">Monthly</ion-select-option>
      </ion-select>
    </ion-item>


  <!-- Next Due Date Selection -->
  <ion-item>
    <ion-label>Next Due Date: <br><strong>{{ formValues.nextDueDate | date: 'mediumDate' }}</strong></ion-label>
    <ion-button expand="block" id="open-date-btn">Select Next Due Date</ion-button>
  </ion-item>


<ion-popover trigger="open-date-btn" [keepContentsMounted]="true" alignment="center" mode="ios" animated="false">
  <ng-template>
    <ion-datetime
      name = "nextDueDate"
      presentation="date"
      id="nextDueDateBtn"
      [(ngModel)]="formValues.nextDueDate"
      (ionChange)="updateDueDateFromPicker($event)"
      preferWheel="false"
      showDefaultButtons="true"
      doneText="Set Date"
      cancelText="Cancel">
    </ion-datetime>
  </ng-template>
</ion-popover>

<ion-button type="submit" expand="block" [disabled]="!transactionForm.valid">{{ editMode ? 'Update' : 'Submit' }}</ion-button>
<ion-button expand="block" (click)="resetForm()">Cancel</ion-button>
</form>
</div>


<!-- Modal for date-time selection -->
<ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
  <ng-template>
    <ion-datetime
      name = "selectedDate"
      id="datetime"
      presentation="month-year"
     [showDefaultButtons]="true"
      doneText="Confirm"
      cancelText="Cancel"
      [(ngModel)]="selectedDate"
      (ionChange)="updateDate()"
    ></ion-datetime>
  </ng-template>
</ion-modal>
</ion-content>
