<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle checked="{{darkModeEnabled}}" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Toggle Cumulative View</ion-label>
      <ion-toggle checked="{{cumulativeViewEnabled}}" (ionChange)="toggleCumulativeView($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

