<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Income Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- List current transactions here -->
    <ion-item *ngFor="let transaction of transactions | async">
      <ion-label>
        <h2>{{ transaction.amount | currency }}</h2>
        <p>Category: {{ transaction.category }}</p>
        <p>Date: {{ transaction.date?.toDate() | date:'mediumDate' }}</p>
        <p>Description: {{ transaction.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- Button to show form -->
  <ion-button expand="block" *ngIf="!showAddForm" (click)="showAddForm = true">Add Income</ion-button>

  <!-- Transaction form, shown when showAddForm is true -->
  <div *ngIf="showAddForm">
    <form #incomeForm="ngForm" (ngSubmit)="addTransaction(incomeForm.value); showAddForm = false;">
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input type="number" name="amount" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime 
          presentation="date"
          display-format="MMM DD, YYYY"
          picker-format="MMM DD YYYY"
          name="date"
          ngModel
          required>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select name="category" ngModel placeholder="Select One">
          <ion-select-option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea name="description" ngModel></ion-textarea>
      </ion-item>
      <ion-button type="submit" expand="block">Submit</ion-button>
    </form>
    <!-- Optionally add a cancel button to hide form -->
    <ion-button expand="block" (click)="showAddForm = false">Cancel</ion-button>
  </div>
</ion-content>
