/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Uncomment to include Ionic's default dark themes styles if needed
//@import '@ionic/angular/css/palettes/dark.class.css';

/* Prevents flashing when toggling themes */
ion-item {
  --transition: none;
}

/* Define your color palette */
$colors: (
  primary: #4d8dff,
  secondary: #46b1ff,
  tertiary: #8482fb,
  success: #2dd55b,
  warning: #ffce31,
  danger: #f24c58,
  light: #222428,
  medium: #989aa2,
  dark: #f4f5f8
);

/* Applies base and dark theme styles */
@mixin apply-palette($colors) {
  @each $name, $color in $colors {
    --ion-color-#{$name}: #{$color};
    --ion-color-#{$name}-contrast: #000;
    --ion-color-#{$name}-shade: get-color-shade($color);
    --ion-color-#{$name}-tint: get-color-tint($color);
  }
}

/* Dark Theme Styles */
.ion-palette-dark {
  @include apply-palette($colors);

  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-item-background-color: #1e2023;
  --ion-toolbar-background: #2c2c2d;
  --ion-list-background: #121212;
  --ion-tab-bar-background: #2c2c2d;
  --ion-content-background: #2c2c2d;
  --ion-card-background:#272727;
  --ion-card-color: #ffffff;
  --ion-color-step-150: #121212;  // Dark background for items
  
    /* Specific styling for ion-select */
    
  
  ion-select {
    --ion-select-option-color: #ffffff;  
    --ion-select-option-background: #121212;  
  }

  

  ion-select::part(text) {
    color: #ffffff;
  }

  // change text color of ion-select-option items
  .alert-radio-label.sc-ion-alert-md {
    color: #ffffff
  }

  // change text color of selected ion-select-option items
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-step-850, #ffffff81);
  }

  ion-menu {
    --background: #1f1f1f;  // Specific styles for the menu in dark mode
  }

  ion-menu::part(backdrop) {
    --background: #1f1f1f
  }

  ion-menu::part(container) {
    --background: #1f1f1f
  }

  ion-icon {
    color: #989aa2 ;
  }

  .list-md{
    background: #1e2023;
  }

  // :root.md {
    
  //   --ion-item-background: #1e2023;
  // }

  .ion-page > ion-content:nth-child(2) > ion-list:nth-child(1){
    -background: #1e2023
  }

  ion-header {
    --background: var(--ion-toolbar-background);
  }

  ion-list {
    --background: var(--ion-toolbar-background);
  }
  
  ion-card {
    --background: var(--ion-card-background);
    --color: var(--ion-card-color);  
  }

  ion-card-title, ion-card-subtitle, ion-card-content {
    --color: var(--ion-card-color);  // Specifically set the text color for titles and subtitles
  }

  ion-button {
    --fill: "outline"
  }

  ion-modal,
  ion-popover {
    --background: #1f1f1f;
  }

  ion-datetime {
    --background: var(--ion-content-background);
    --color: var(--ion-text-color);
    --picker-opt-selected-background: #666;  // Highlight color for selected options
    --background-rgb: 18, 18, 18;  // RGB version of the dark background
    --wheel-highlight-background: #666;  // Adjust this color as needed
    --wheel-highlight-border-radius: 48px;  // Rounded borders for selected item
    --wheel-fade-background-rgb: 18, 18, 18;  // Ensures the fade matches the dark background
  }

  ion-datetime::part(wheel-item) {
    color: #ccc;  // Light gray color for wheel items, adjust as needed
  }
  
  ion-datetime::part(wheel-item-active) {
    color: #fff;  // White color for the active (selected) wheel item
  }

  ion-item {
    --background: var(--ion-item-background-color, #1e2023);
    --color: var(--ion-text-color);
}  

ion-content {
  --background: #1e2023;
}

}

/* Applying the dark theme mixins where required */
:root {
  @include apply-palette($colors);

}

/* Global styles for ion-grid to show grid lines */
ion-grid {
  --ion-grid-column-border: 1px solid #a3a0a0;
  --ion-grid-row-border: 1px solid #a3a0a0;
}

ion-row {
  border-bottom: var(--ion-grid-row-border);
}

ion-col {
  border-right: var(--ion-grid-column-border);
  padding: 8px;  /* Adjust padding for better cell spacing */
}

/* Remove the right border from the last column */
ion-col:last-child {
  border-right: none;
}

/* Optional: Style for the header row */
.header-row ion-col {
  font-weight: bold;
}

// ion-content {
//   --padding-top: var(--ion-safe-area-top);
// }

md ion-header {
  padding-top: 40px; /* Adjust this value as needed */
}

// ion-header {
//   padding-top: 20px;
// }

.ios ion-header {
  padding-top: 0px; /* No additional padding for iOS */
}


  
  
 

  
  // /* You may need to target the select popup specifically if the above doesn't apply as expected */
  // .ion-palette-dark .select-interface-option {
  //   background-color: #121212;  // Dark background for dropdown items
  //   color: #ffffff;  // White text for readability
  // }
    

