/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Uncomment to include Ionic's default dark themes styles if needed
//@import '@ionic/angular/css/palettes/dark.class.css';

/* Prevents flashing when toggling themes */
ion-item {
  --transition: none;
}

/* Define your color palette */
$colors: (
  primary: #4d8dff,
  secondary: #46b1ff,
  tertiary: #8482fb,
  success: #2dd55b,
  warning: #ffce31,
  danger: #f24c58,
  light: #222428,
  medium: #989aa2,
  dark: #f4f5f8
);

/* Applies base and dark theme styles */
@mixin apply-palette($colors) {
  @each $name, $color in $colors {
    --ion-color-#{$name}: #{$color};
    --ion-color-#{$name}-contrast: #000;
    --ion-color-#{$name}-shade: get-color-shade($color);
    --ion-color-#{$name}-tint: get-color-tint($color);
  }
}

/* Dark Theme Styles */
.ion-palette-dark {
  @include apply-palette($colors);

  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

  --ion-item-background-color: #1e2023;
  --ion-toolbar-background: #2c2c2d;
  --ion-tab-bar-background: #2c2c2d;
  --ion-content-background: #121212;
  --ion-card-background:#272727;
  --ion-card-color: #ffffff;
  
  ion-menu {
    --background: #1f1f1f;  // Specific styles for the menu in dark mode
  }


  ion-header {
    --background: var(--ion-toolbar-background);
  }

  ion-list {
    --background: var(--ion-toolbar-background);
  }
  
  ion-card {
    --background: var(--ion-card-background);
    --color: var(--ion-card-color);  
  }

  ion-card-title, ion-card-subtitle, ion-card-content {
    --color: var(--ion-card-color);  // Specifically set the text color for titles and subtitles
  }

  ion-button {
    --fill: "outline"
  }
 

}
.ion-palette-dark ion-item {
    --background: var(--ion-item-background-color, #1e2023);
    --color: var(--ion-text-color);
}
.ion-palette-dark ion-content {
    --background: var(--ion-background-color);
}
/* Applying the dark theme mixins where required */
:root {
  @include apply-palette($colors);

}

/* Global styles for ion-grid to show grid lines */
ion-grid {
  --ion-grid-column-border: 1px solid #a3a0a0;
  --ion-grid-row-border: 1px solid #a3a0a0;
}

ion-row {
  border-bottom: var(--ion-grid-row-border);
}

ion-col {
  border-right: var(--ion-grid-column-border);
  padding: 8px;  /* Adjust padding for better cell spacing */
}

/* Remove the right border from the last column */
ion-col:last-child {
  border-right: none;
}

/* Optional: Style for the header row */
.header-row ion-col {
  font-weight: bold;
}

// ion-content {
//   --padding-top: var(--ion-safe-area-top);
// }

md ion-header {
  padding-top: 20px; /* Adjust this value as needed */
}

// ion-header {
//   padding-top: 20px;
// }

.ios ion-header {
  padding-top: 0px; /* No additional padding for iOS */
}